doctype html
html(lang="en")
  head
    script(type='text/javascript').
      foo = true;
      c_quality=#{color_quality}
      bar = function () {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1(align='center') AirCheck
    br
    div(align='center')
        button(id='locationButton', type='button') Get my current location
    br
    form(align='center', action='data', method='get')
        h4 Latitude:
        input(id='latitude', type='text', name='latitude')
        h4 Longitude:
        input(id='longitude', type='text', name='longitude')
        br
        br
        input(type='submit')
    br
    br
    h4(align='center') Air Quality: #{quality}
    br
    br
    br
    h4(align='center') Humidity: #{humidity}
    br
    br
    form(align='center', action='symptomsform', method='get')
        input(type='submit', value='Fill out your symptoms!')

    script(type='text/javascript', src='https://code.jquery.com/jquery-git.min.js')
    script(type='text/javascript', src='test.js')
