doctype html
html(lang="en")
  head
    link(href='bootstrap.css', rel='stylesheet')
    link(href='bootstrap.min.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    script(type='text/javascript').
      foo = true;
      c_quality=#{color_quality}
      bar = function () {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1(align='center') AirCheck
    br
    div(align='center')
        button(id='locationButton', type='button') Get my current location
    br
    form(align='center', action='data', method='get')
        h4 Enter a City:
        input(id='city', type='text', name='city')
        br
        br
        input(type='submit', id='submitCity')
        br
        br
        h4 Longitude:
            input(id='longitude', disabled)
        br
        br
        h4 Latitude:
            input(id='latitude', disabled)
        br
        br
    h4(align='center') Air Quality: #{quality}
    br
    br
    br
    h4(align='center') Humidity: #{humidity}
    br
    br
    form(align='center', action='symptomsform', method='get')
        input(type='submit', value='Fill out your symptoms!')
    br
    br
    br
    form(align='center', action='UserView', method='get')
            input(type='submit', value='View user information')
    br
    br
    br
    script(type='text/javascript', src='https://code.jquery.com/jquery-git.min.js')
    script(type='text/javascript', src='aircheckscript.js')

