doctype html
html(lang="en")
  head
    link(href='bootstrap.css', rel='stylesheet')
    link(href='bootstrap.min.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    script(type='text/javascript').
      foo = true;
      c_quality= -1;
      bar = function () {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1(align='center') AirCheck
    br
    div(id='map')
    form(align='center', action='data', method='get')
        h4 Current City:
        input(id='city', type='text', name='city')
        br
        br
        h4 Longitude:
            input(id='longitude', disabled)
        br
        br
        h4 Latitude:
            input(id='latitude', disabled)
        br
        br
    h4(id='air-quality', align='center') Air Quality:
    br
    br
    br
    h4(id='humidity', align='center') Humidity:
    br
    br
    form(align='center', action='symptomsform', method='get')
        input(type='submit', value='Fill out your symptoms!')
    br
    br
    br
    form(align='center', action='UserView', method='get')
            input(type='submit', value='View user information')
    br
    br
    br
    form(align='center', action='generateUsers', method='get')
            input(type='submit', value='Generate random users')
    br
    br
    br

    div(align='center')
      strong
      h1(style='font-weight:bold;') Symptoms Datasheet
      br
      br
      form(align='center', action='symptomsentry', method='get')

          br
          br
          h2(align='center') Fill out your symptoms below from 1 to 10:
          br
          span(padding-right='20')
          h4 Cough level:
              input(type='range', name='coughLevel', min='0', max='10')
          br
          h4 Shortness of breath:
              input(type='range', name='howIsBreath', min='0', max='10')
          br
          h4 Wheezing:
              input(type='range', name='wheezing', min='0', max='10')
          br
          h4 Sneezing:
              input(type='range', name='sneezing', min='0', max='10')
          br
          h4 Is your nose obstructed?
              input(type='checkbox', name='noseBlock')
          br
          h4 Are your eyes itchy?
              input(type='checkbox', name='itchyEyes')
          br
          br
          br
          input(id='submitButton', type='submit')
          br
          br
          br
          br
    script(type='text/javascript', src='https://code.jquery.com/jquery-git.min.js')
    script(type='text/javascript', src='symptomsform.js')
    script(type='text/javascript', src='aircheckscript.js')
    script(type='text/javascript', src='google_maps_v2.js')
