doctype html
html(lang="en")
  body
    h1(align='center') AirCheck
    br
    form(align='center', action='data', method='get')
        h4 Latitude:
        input(type='text', name='latitude')
        h4 Longitude:
        input(type='text', name='longitude')
        br
        br
        input(type='submit')
    br
    br
    h4(align='center') CO Parts Per Billion: #{ppb}
    br
    br
    br
    br
    h4(align='center') Humidity: #{humidity}
    br
    br
    form(align='center', action='symptomsform', method='get')
        input(type='submit', value='Go to form')
