doctype html
html(lang="en")
  head
      link(href='bootstrap.css', rel='stylesheet')
      link(href='bootstrap.min.css', rel='stylesheet')
      link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
    h1(align='center') Fill out your symptoms below from 1 to 10:
    br
    form(align='center', action='symptomsentry', method='get')
        h3 Cough level:
        select(name='coughLevel')
            option(value='0') 0
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
        br
        h3 Shortness of breath:
        select(name='howIsBreath')
            option(value='0') 0
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
        br
        h3 Wheezing:
        select(name='wheezing')
            option(value='0') 0
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
        br
        h3 Sneezing:
        select(name='sneezing')
            option(value='0') 0
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
        br
        h3 Is your nose obstructed?
        select(name='noseBlock')
                    option(value='1') Yes
                    option(value='0') No
        br
        h3 Are your eyes itchy?
        select(name='itchyEyes')
                    option(value='1') Yes
                    option(value='0') No
        br
        br
        h4 Latitude:
        input(type='text', name='latitude')
        h4 Longitude:
        input(type='text', name='longitude')
        br
        br
        input(type='submit')