doctype html
html(lang="en")
  head
    link(href='bootstrap.css', rel='stylesheet')
    link(href='bootstrap.min.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    script(type='text/javascript').
        #{res}

  body
    h1(align='center') AirCheck
    p(align='center') #{res}
